* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.link-bar {
    position: fixed;
    height: 30px;
    top: 0;
    width: 100%;
}

.studios {
    display: inline;
    float: left;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:lightblue;
    cursor: pointer;
    position:relative;
}

.studios:hover {
    background-color: blue;
}

.studios-link {
    text-decoration: none;
    color: white;
}

.studios-link:hover {
    color: yellow;
}

.home {
    display: inline;
    float: right;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #b8e6bf;
    cursor: pointer;
    position: relative;
}

.home:hover {
    background-color: green;
}

.home-link {
    text-decoration: none;
    color: white;
}

.home-link:hover {
    color: yellow;
}

.main-img {
    margin-top: 40px;
    width: 1550px;
    padding-bottom: 15px;
    border-bottom: 4px solid black;
}

.content {
    padding: 10px;
}

.side-content {
    border-radius: 1px;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    top:573px;
    left: 1000px;
    width: 25%;
    background-color: rgb(164, 209, 211);
}

.side-content li {
    margin-top: 5px;
    margin-left: 15px;
    list-style:circle;
    font-size: 20px;
}

.side-content a {
    text-decoration: none;
    color: purple;
}

.main-content {
    padding: 10px;
    width: 980px;
    background-color: beige;
}

.main-content-p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.waltdisney2 {
    margin-left: 30px;
}

.popular-subsi {
    color: rgb(255,255,255);
}

.subsi-title {
    text-align: center;
    margin-top: 10px;
    font-size: 60px;
    font-family: monospace;
}

.subsi-title2 {
    text-align: center;
    margin-top: 10px;
    font-size: 53px;
    font-family: monospace;
}

.subsi-img {
    margin-top: 10px;
    width: 960px;
    height: 550px;
}

